.container {
    background-image: url('../assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex; /* Activa flexbox para el contenedor */
    flex-direction: column; /* Asegura que los elementos hijos se alineen en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    padding: 20px; /* Espacio alrededor del contenedor */
}

.header {
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 4em;
    color: white;
    width: 100%; /* Asegura que el encabezado ocupe el ancho completo */
    margin-bottom: 60px;
    text-transform: uppercase; /* Hace que el texto esté en mayúsculas */
    font-weight: bold; /* Hace que el título sea más audaz */
    letter-spacing: 0.1em; /* Añade un pequeño espaciado entre letras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Añade una sombra al texto */
    animation: fadeIn 0.5s ease-in-out; /* Añade una animación suave al aparecer */
}

/* Animación para el título */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.team-header {
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    display: grid;
    grid-template-columns: 100px 200px 150px 150px 100px 100px 100px 200px 100px; /* Definir columnas con anchos fijos */
    align-items: center;
    gap: 10px; /* Espacio entre columnas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Alinear el contenido al centro */
}

.team-header p {
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
    color: #ffffff;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden;
    text-overflow: ellipsis; /* Trunca el texto si es demasiado largo */
}

.team-names {
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 15px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 200px 250px 250px; /* Definir columnas con anchos fijos */
    align-items: center;
    gap: 10px; /* Espacio entre columnas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Alinear el contenido al centro */
}

.team-names p {
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
    color: #ffffff;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden;
    text-overflow: ellipsis; /* Trunca el texto si es demasiado largo */
}